cni:
  chainingMode: aws-cni
enableIPv4Masquerade: false
tunnel: disabled
endpointRoutes:
  enabled: true
%{ if enable_wireguard }
l7Proxy: false
encryption:
  enabled: true
  type: wireguard
%{ endif }
