apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${cluster_certificate_authority_data}
    server: ${cluster_host}
  name: ${cluster_name}
contexts:
- context:
    cluster: ${cluster_name}
    user: ${cluster_name}
  name: ${cluster_name}
current-context: ${cluster_name}
kind: Config
preferences: {}
users:
- name: ${cluster_name}
  user:
    token: ${cluster_istio_reader_token}
