name: kics-security-scan

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  kics-job:
    runs-on: ubuntu-latest
    name: kics-action
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Mkdir results-dir
        run: mkdir -p results-dir
      - name: Run KICS Scan with SARIF result
        uses: checkmarx/kics-action@v1.4
        with:
          path: '.,modules/'
          output_path: results-dir
          platform_type: terraform
          output_formats: 'json,sarif'
          exclude_paths: "examples/,deploy/,docs/,images/,modules/kubernetes-addons/agones/main.tf"
          fail_on: HIGH
          ignore_on_exit: results
          exclude_results: "6e8849c1-3aa7-40e3-9063-b85ee300f29f,c5b31ab9-0f26-4a49-b8aa-4cc064392f4d,e5587d53-a673-4a6b-b3f2-ba07ec274def" # exclude results by providing the similarity ID of a result
      #          exclude_categories:   # exclude categories by providing its name, comma separated list e.g., Observability,Networking and Firewall
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results-dir/results.sarif
