name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main

env:
  PYTHON_VERSION: 3.x

permissions:
  contents: read

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Checkout main
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
        with:
          fetch-depth: 0

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mike==1.1.2 \
            mkdocs-material==9.1.19 \
            mkdocs-include-markdown-plugin==4.0.4 \
            mkdocs-awesome-pages-plugin==2.9.1

      - name: git config
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: mike deploy main
        if: contains(github.ref, 'refs/heads/main')
        run: |
          mike deploy --push main

      - name: mike deploy new version
        if: contains(github.ref, 'refs/tags/v') && !github.event.release.prerelease
        run: |
          VERSION=${GITHUB_REF/refs\/tags\//}
          mike deploy --rebase --push --update-aliases "${VERSION}" latest
